:host {
  --column-conuter: 7;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(var(--column-conuter), auto);
  max-width: fit-content;
  background-color: #fffeff;
  padding: 10px;

  .day-header {
    font-weight: bold;
  }

  .day {
    padding: 10px;
    text-align: center;
    cursor: pointer;

    &.prev-month {
      color: #cbcacc;
    }

    &.has-event {
      background-color: #eaebf8;
      border-radius: 50%;
    }

    &.today {
      background-color: #1a73e8;
      color: #fff;
    }
  }
}

pre {
  background-color: white;
  border: 1px solid;
  padding: 10px;
}
